body{
    background-color: none;
}

a{
    text-decoration: none;
}

.links {
    text-align: left
}

#google-logo{
    display: block;
    margin: auto
}

#googleImage-logo{
    display: block;
    margin: auto
}

.search{
    text-align: center;
}

h2 {    
    color: red;
}

#search-window{
    border-radius: 25px;
    padding: 20px; 
    width: 300px;
    height: 1px;  
}

#advancedSearch{
    text-align: left;
}

.advbutton {
    color: white;
    background-color: royalblue;
}
