body{
    background-color: none;
}

a{
    text-decoration: none;
}

.links {
    text-align: left
}

#google-logo{
    display: block;
    margin: auto
}

.search{
    text-align: center;
}

#search-window{
    border-radius: 25px;
    padding: 20px; 
    width: 300px;
    height: 1px;  
}

