body{
    background-color: tan;
}

a{
    text-decoration: none;
}

.links {
    text-align: left
}

.search{
    text-align: center;
   
}

#search-window{
    border-radius: 25px;
    padding: 20px; 
    width: 300px;
    height: 1px;  
}

.button {

}
